<% if book.errors.any? %>
  <div id="error_explanation">
   
    <h2><%= book.errors.count %>error prohibited this book from being saved:</h2>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="col-md-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image2.jpg" %>
  <table class="table" >
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>
          <%= link_to user_followings_path(user.id) do %>
            フォロー数: <%= user.followings.count %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th>
          <%= link_to user_followers_path(user.id) do %>
            フォロワー数: <%= user.followers.count %>
          <% end %>
        </th>
      </tr>
      <tr>
        <% unless user == current_user %>
        <td>
          <% if current_user.following?(user) %>
            <%= link_to "フォローを外す", user_relation_ships_path(user.id), method: :delete, class:"btn btn-info btn-sm btn-block mb-3 sign_in" %>
          <% else %>
            <%= link_to "フォローする", user_relation_ships_path(user.id), method: :post, class:"btn btn-success btn-sm btn-block sign_up" %>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  
  <div class="row">
      <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
  </div>
      

  <h2 class=mt-3>New book</h2>
  <%= form_with model: book, local:true do |f| %>
     <div class="form-group">
       <label for="book_title">Title</label>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <label for="book_opinion">Opinion</label>
       <%= f.text_area :body %>
    </div>
    <div class="form-group">
      <%= f.submit 'Create Book', class:"btn btn-success" %>
    </div>
  <% end %>
</div>