<main>
  <div class="container">
    <div class="row">
      
      <%= render 'books/info', books: @books %>
      
　　　<div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image2.jpg" %>
                <br><%= @user.name %>
              </td>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
              <td><%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success" %></td>
              <td>destroy</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>　　
　　